<%= form_for @message do |f| %>
<p>To:<%=params[:name][0]%></p>
<%= f.text_area:subject,:class=>"message_area"%>
<%= f.text_field:from,:value=>current_user.name,:class=>"display_form_none"%>
<%= f.text_field:to,:value=>params[:name][0],:class=>"display_form_none"%>
<%u=params[:name][1]%>
<%= hidden_field_tag "url","#{u}"%>
<%= f.submit "Send Message"%>
<%end%>


