<div class="topbar">
  <div class="fill">
    <div class="container">
      <%= link_to("Revol Tech",homes_path,:class => "brand")%>
      <ul class="nav">
        <li class="active">
        <%= link_to("About","")%>
        </li>
        <li>
         <%= link_to("Contact","")%>
        </li>
        <li>
          <%= link_to("Services","")%>
        </li>
        <li>
           <%= link_to("Blog","")%>
        </li>
      </ul>
    </div>
  </div>
</div>
