<div class="container">
  <%= render "top_links"%>
   <%= render "logo" %>
   <%= render "banner"%>
   <hr>
    <%= render "slider"%>
    <hr class="stars">
    <p class="sub_tagline">Smarter business through smarter web apps.</p>
    <%= render "quote" %>
</div>
