<div class="revol_text">
       <p class="revolution">"Revolutionaries"</p>
</div>
<hr>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "ALI.JPG"%>
    </div>
    <div class="info">
    <h3>Julfikar Ali Ahmad,CEO</h3>
       <p>CEO of Revol-Tech.He is the mastermind behind Revol-Tech.having vision to make Revol-Tech as the leading web app development company he established Revol-Tech.</p>
    </div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
 <%= image_tag "kapil1.JPG"%>
    </div>
    <div class="info">
     <h3>Kapil Raj Nakhwa,Senior Developer</h3>
     <p>Our Chief Technical Officer with 3years plus experience in PHP, RUBY programming. He is our technically astute leader carrying the responsibility in implementing new technologies in our company.</p>
     </div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "shobhav.JPG"%>

    </div>
    <div class="info">
     <h3>Shobhab Shrestha, Developer</h3>
     <p>Team leader of our development team, has in-depth knowledge in JAVA. He is capable of organizing the team to its full efficiency. Also has good knowledge in RUBY and Javascript.</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "kuber.JPG"%>
    </div>
    <div class="info">
    <h3>KUber Aaganja,Networking</h3>
     <p>Our networking specialist holding the certified CCNA degree. He is the networking spearhead of our company.
     He even have good knowledge in ruby on rails.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "dhami.JPG"%>
    </div>
    <div class="info">
    <h3>Ramesh Dhami,Developer</h3>
     <p>Having extensive knowledge in PHP developement in Eclipse,he also have good knowledge in Ruby development.He also assist to our designer helping them in HTML/CSS.
</p></div>

</div>


<div class="revolutionaries">
    <div class="rev_img">
      <%= image_tag "krishna.jpg"%>
    </div>
    <div class="info">
    <h3>Krishna Lal Shrestha,Developer</h3>
     <p>He is the brain child of our team. Astute Java developer in Android Environment having 2 year plus work experience.He is the team leader in our Mobile Application Development.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
          <%= image_tag ""%>
    </div>
    <div class="info">
    <h3>Anup Kakshapati,Designer</h3>
     <p>With 2years plus work experience in Graphic Design he has extensive knowledge in Adobe Photoshop CS3, Illustrator, Dreamweaver and capable of handling any kind of design related issue from Visiting card to Company Browsers.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
    <%= image_tag "shiv.JPG"%>
    </div>
    <div class="info">
    <h3>Shivwan Jung Thapa,Designer</h3>
     <p>Our emerging designer with experience in different Designing tool.Also has in-depth knowledge in CSS,Javascript and PHP.Is the bridge between Designing and Developers.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
<%= image_tag ""%>
    </div>
    <div class="info">
    <h3>Niraj Pradhan,Database administrator</h3>
     <p>Our in-house 1 years plus Database Administrator with extensiveknowledge in Oracle 10g and 11i.Also has the knowledge in Business Intelligence with MsSQL 2008.
</p></div>
</div>
 <div class="revolutionaries">
    <div class="rev_img">
    <%= image_tag "nirojshakya.JPG"%>
    </div>
    <div class="info">
    <h3>Niraj shakya,Human resource</h3>
     <p>Our marketing head capable of dealing with our valued customers he is the medium between us and YOU. He even manages our human resources.
</p></div>

</div>
