<div class="revol_text">
       <p class="revolution">"Revolutionaries"</p>
</div>
<hr>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "ALI.JPG"%>
    </div>
    <div class="info">
    <h3>Julfikar Ali Ahmad, CEO</h3>
       <p>CEO at revol tech who is also a design guru. He won't stop until each page looks perfectly smoothing to his eyes</p>
    </div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
 <%= image_tag "kapil1.JPG"%>
    </div>
    <div class="info">
     <h3>Kapil Raj Nakhwa, Developer</h3>
     <p>A tech freak who loves technology and is always hungry for implementing hotest technology right into the projects here in revol tech.</p>
     </div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "shobhav.JPG"%>

    </div>
    <div class="info">
     <h3>Shobhab Shrestha, Developer</h3>
     <p>Confused what he wants but does his work without doubt. With in-depth knowledge of what he does.He loves browser based games(tribal wars) more than anything else.</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "kuber.JPG"%>
    </div>
    <div class="info">
    <h3>Kuber Aaganja, System Admin</h3>
     <p>Joyful, and extremely helpful.A combination of sweet and sour.
      He is the networking spearhead of our company but always ready assist the development team in building web apps.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
     <%= image_tag "dhami.JPG"%>
    </div>
    <div class="info">
    <h3>Ramesh Dhami, Developer</h3>
     <p>A joyful person with a devilish laugh and unique talking acent. Who is one of the promising design geek in near future.
</p></div>

</div>


<div class="revolutionaries">
    <div class="rev_img">
      <%= image_tag "krishna.jpg"%>
    </div>
    <div class="info">
    <h3>Krishna Lal Shrestha, Developer</h3>
     <p>He is the brain child of our team. Astute developer in Android Environment having 1 year plus work experience. He is the team leader in our Mobile Application Development.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
          <%= image_tag ""%>
    </div>
    <div class="info">
    <h3>Anup Kakshapati, Creative Director</h3>
     <p>A person with a magic touch, can change everything very eye appealing and a man with a camera.He have 1 years plus work experience in Graphic Design with us and capable of handling any kind of design related issue from Visiting card to Company Browsers.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
    <%= image_tag "shiv.JPG"%>
    </div>
    <div class="info">
    <h3>Shivwan Jung Thapa, Designer</h3>
     <p>A Playful person with a heart as of a innocent child and relief us from work tension. A person with a eagle eye. Our emerging designer with experience in different Designing tool. Also has in-depth knowledge in CSS3, Javascript. Is the bridge between Designing and Developers.
</p></div>

</div>
<div class="revolutionaries">
    <div class="rev_img">
<%= image_tag ""%>
    </div>
    <div class="info">
    <h3>Niraj Pradhan, Database administrator</h3>
     <p>Our in-house 1 years plus Database Administrator with extensive knowledge in data-base. Also has the knowledge in Business Intelligence.
</p></div>
</div>
 <div class="revolutionaries">
    <div class="rev_img">
    <%= image_tag "nirojshakya.JPG"%>
    </div>
    <div class="info">
    <h3>Niraj shakya, Bussiness Relation</h3>
     <p>Our Business Relations and Human Resource manager. Simply a killer at what he does. He even dreams about business strategy for revol tech everynight.

</p></div>

</div>
