<div class="attendance_login">
  <%= form_for @attendance do |f| %>
  <table>
    <tr>
      <td>
        <%= f.label :name %>:
      </td>
      <td>
         <%=text_field_tag :name %>
      </td>
    </tr>
    <tr>
       <td>
        <%= f.label :password %>:
      </td>
      <td>
         <%= password_field_tag(:attendance_password) %>
      </td>
    </tr>
    <td>
      <%= f.submit("Start my day!") %>
    </td>
    <% end %>
  </table>
</div>  
