<!DOCTYPE html>
<html>
<head>
  <title>Revol-Tech Nepal</title>
  <%= stylesheet_link_tag    "application" %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
   <%= render "home/top_links"%>

   <%= render "home/logo" %>

    <%= yield %>
  </div>
   <%= render "home/footer"%>
</body>
</html>
